.select-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    cursor: pointer;
    width: 288px;
    max-width: 288px;
}

.select-title {
    font-size: 12px;
    line-height: 18px;
    color: var(--cl-txt-label);
    padding: 0 16px;
}

.select-value-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cl-bg-input);
    padding: 8px 16px;
}

.select-value-label {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.003em;
}

.select-value-toggle {
    display: inline-block;
    width: var(--btn-size);
    height: var(--btn-size);
    border-right: 2px solid var(--cl-txt-main);
    border-bottom: 2px solid var(--cl-txt-main);
    transition: transform 0.3s;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}

.select-value-wrap._active .select-value-toggle {
    transform: rotate(-45deg);
}

.select-list {
    position: absolute;
    z-index: 100;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    border: 1px solid var(--cl-border-main);
}

.select-list-option {
    background-color: var(--cl-bg-main);
    padding: 8px 16px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.003em;
    transition: background-color 0.3s;
}

.select-list-option:hover,
.select-list-option._active {
    background-color: var(--cl-bg-input);
}
