:root {
    --cl-txt-main: #000;
    --cl-txt-label: #4f4f4f;
    --cl-bg-main: #fff;
    --cl-bg-input: #f2f2f2;
    --cl-border-main: #eee;
    --cl-bg-notice: #EB5757;
    --cl-txt-notice: #fff;
    --cl-txt-code: #888;
}
